<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.linkedin.com/in/jairo-andres-sotelo-florez-8a8ba216b/" target="_blank">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQFRoJUL_as9NA/profile-displayphoto-shrink_100_100/0/1606134409374?e=1612396800&v=beta&t=dCd0bWdjI7j6SoVCn9BPSZsaqsfIK7_zuZaJfW7r91E"
          alt="logo">
        <h1>
          <i nz-icon nzType="linkedin" nzTheme="outline"></i>
          J.S
        </h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Opciones" nzIcon="smile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Inicio</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/images">Imagenes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cats">Gatos</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <ngx-ui-loader></ngx-ui-loader>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
